.pagemenu {
    margin: 1rem;
    color: var(--pm-text-color);
    font-family: var(--sans-font);
    font-size: var(--pm-font-size);
}
.pagemenu h3 {
    font-size: var(--pm-header-font-size);
    border-bottom: solid calc(var(--pm-font-size) / 8) var(--pm-ruler-color);
    margin-block: 0.5rem;
    padding-inline: 0;
}
.pagemenu ul {
    list-style-type: none;
    overflow: hidden;
    margin-block: 0;
    padding-inline: 0;
}
.pagemenu ul ul {
    margin-left: var(--pm-font-size);
}
.pagemenu li {
    margin: calc(var(--pm-font-size) * 0.4) 0;
}
.pagemenu a {
    font-family: var(--serif-font);
    display: inline-block;
    text-decoration: none;
    color: var(--pm-text-color);
    width: 90%;
    padding-left: 10px;
}
.pagemenu a.highlight {
    border-left: solid 3px var(--pm-ruler-color);
    padding-left: 7px;
    font-weight: bold;
}
.pagemenu a:active {
    color: var(--pm-hover-color);
}
.pagemenu a:hover {
    text-decoration: underline;
}