.tocmenu {
    --highlight-bar-width: 3px;
    --highlight-margin: 10px;
    
    padding: 1rem;
    color: var(--toc-text-color);
    font-family: var(--sans-font);
    font-size: var(--toc-font-size);
}
.tocmenu h3 {
    font-size: var(--toc-header-font-size);
    margin: var(--toc-header-font-size) 0 10px 0;
    margin-block: 0;
    padding-inline: 0;
    --divider-color: var(--toc-ruler-color);
    border-bottom: solid calc(var(--toc-font-size) / 8) var(--toc-ruler-color);
}
.tocmenu ul {
    list-style-type: none;
    overflow: hidden;
    margin-block: 0;
    padding-inline: 0;
    transition: max-height 0.3s;
}
.tocmenu ul ul {
    margin-left: var(--toc-font-size);
}
.tocmenu li {
    margin: calc(var(--toc-font-size) * 0.2) 0;
}
.tocmenu a {
    text-decoration: none;
    color: var(--toc-text-color);
    display: inline-block;
    width: 90%;
    padding-left: var(--highlight-margin);
}
.tocmenu a.highlight {
    border-left: var(--highlight-bar-width) solid var(--toc-ruler-color);
    padding-left: calc(var(--highlight-margin) - var(--highlight-bar-width));
    font-weight: bold;
}
.tocmenu a:hover {
    text-shadow: 0 0 0.1rem var(--toc-link-hover);
}
.tocmenu .accordion {
    background-color: transparent;
    color: var(--toc-text-color);
    border-bottom: 2px solid var(--toc-ruler-color);    
    cursor: pointer;
    padding: 2px 0;
    margin-left: var(--highlight-margin);
    width: 100%;
    font-weight: bolder;
}
.tocmenu .accordion:after {
    content: "▲";
    color: var(--toc-ruler-color);
    font-weight: bold;
    float: right;
    margin: 0 var(--highlight-margin) 0 5px;
}
.tocmenu .accordion.collapsed:after {
    content: "▼";
}