body {
    position: relative;
    height: 100vh;
    height: 100svh;
    overflow: hidden;
    padding: 0;
    margin: 0;
    perspective: 200vw;
    perspective-origin: center center;
}
section {
    position: absolute;
    left: 50%;
    top: 5%;
    width: 40%;
    height: 90%;
    overflow: hidden;
    background-color: skyblue;
    transform-origin: left;
    backface-visibility: hidden;
    transform-style: preserve-3d;
}
section:first-of-type {
    z-index: 100;
}