body {
    position: relative;
    height: 100vh;
    height: 100svh;
    overflow: hidden;
    padding: 0;
    margin: 0;
    perspective: 200vw;
    perspective-origin: center center;
    background: linear-gradient(-45deg, var(--col-prim-dark), var(--col-prim-light));
    font-family: var(--sans-font);
}
section {
    position: absolute;
    box-sizing: border-box;
    left: 30%;
    top: 5%;
    width: 40%;
    height: 90%;
    padding: 5%;
    overflow: auto;
    background: linear-gradient(-90deg, hsl(0, 0%, 95%), hsl(0, 0%, 90%), hsl(0, 0%, 100%));
    background-size: 200% 200%;
    box-shadow: 0 0 1rem hsla(0, 0%, 0%, 10%);
    border-radius: 4px;
    transform-origin: left;
    backface-visibility: hidden;
    transform-style: preserve-3d;
}
section:first-of-type {
    z-index: 100;
}
section:nth-of-type(even) {
    transform-origin: right;
}
section:first-of-type,
section:last-of-type {
    background: linear-gradient(-90deg, var(--col-sec-dark), var(--col-sec-light), var(--col-sec));
    color: var(--col-prim);
}
body > a {
    position: absolute;
    top: 50%;
    width: 5%;
}
body > a:hover {
    animation: 0.25s ease-in-out infinite alternate pulse;
}
body > a:active {
    animation: none;
    transform: scale(1.25);
}
body > a svg {
    stroke: var(--col-sec-light);
}
body > a:first-of-type {
    left: 2.5%;
}
body > a:last-of-type {
    right: 2.5%;
}
h1 {
    margin: auto;
    font-size: 4rem;
}
img {
    float: right;
    width: 30%;
}
section:first-of-type ul {
    font-size: 2rem;
    list-style: none;
}
section::-webkit-scrollbar {
    background: transparent;
}
section::-webkit-scrollbar:horizontal {
    height: var(--scrollbar-width);
}
section::-webkit-scrollbar:vertical {
    width: var(--scrollbar-width);
}
section::-webkit-scrollbar-thumb {
    border-radius: calc(var(--scrollbar-width) / 2);
}
section::-webkit-scrollbar-thumb:hover {
    background-color: var(--scrollbar-hover) !important;
}
section:hover::-webkit-scrollbar-thumb {
    background-color: var(--col-prim-dark);
}
@keyframes pulse {
    from { transform: translateX(0px); }
    to { transform: translateX(4px); }
}