[data-theme="ice-age"] {
    --col-prim: hsl(222, 40%, 90%);
    --col-prim-light: hsl(222, 40%, 99%);
    --col-prim-dark: hsl(222, 40%, 81%);
    --col-sec: hsl(223, 15%, 37%);
    --col-sec-light: hsl(223, 15%, 46%);
    --col-sec-dark: hsl(223, 15%, 28%);
}
[data-theme="purple-rain"] {
    --col-prim: hsl(185, 13%, 81%);
    --col-prim-light: hsl(185, 13%, 90%);
    --col-prim-dark: hsl(185, 13%, 72%);
    --col-sec: hsl(269, 35%, 38%);
    --col-sec-light: hsl(269, 35%, 47%);
    --col-sec-dark: hsl(269, 35%, 29%);
}
[data-theme="chocolate"] {
    --col-prim: hsl(29, 69%, 92%);
    --col-prim-light: hsl(29, 69%, 100%);
    --col-prim-dark: hsl(29, 69%, 83%);
    --col-sec: hsl(5, 21%, 42%);
    --col-sec-light: hsl(5, 21%, 51%);
    --col-sec-dark: hsl(5, 21%, 33%);
}
[data-theme="peachy"] {
    --col-prim: hsl(9, 83%, 88%);
    --col-prim-light: hsl(9, 83%, 97%);
    --col-prim-dark: hsl(9, 83%, 79%);
    --col-sec: hsl(60, 0%, 43%);
    --col-sec-light: hsl(60, 0%, 52%);
    --col-sec-dark: hsl(60, 0%, 34%);
}
[data-theme="red-alert"] {
    --col-prim: hsl(9, 54%, 97%);
    --col-prim-light: hsl(9, 54%, 100%);
    --col-prim-dark: hsl(9, 54%, 88%);
    --col-sec: hsl(353, 100%, 30%);
    --col-sec-light: hsl(353, 100%, 39%);
    --col-sec-dark: hsl(353, 100%, 21%);
}
[data-theme="beige"] {
    --col-prim: hsl(40, 42%, 73%);
    --col-prim-light: hsl(40, 42%, 82%);
    --col-prim-dark: hsl(40, 42%, 64%);
    --col-sec: hsl(248, 19%, 24%);
    --col-sec-light: hsl(248, 19%, 33%);
    --col-sec-dark: hsl(248, 19%, 15%);
}
[data-theme="book-cover"] {
    --col-sec: hsl(33, 87%, 63%);
    --col-sec-dark: hsl(33, 87%, 72%);
    --col-sec-light: hsl(33, 87%, 54%);
    --col-prim: hsl(213, 20%, 11%);
    --col-prim-dark: hsl(213, 20%, 20%);
    --col-prim-light: hsl(213, 20%, 2%);
    --toc-font-family: var(--sans-font);
}
[data-theme="vintage"] {
    --col-prim: hsl(345, 6%, 14%);
    --col-prim-light: hsl(345, 6%, 5%);
    --col-prim-dark: hsl(345, 6%, 23%);
    --col-sec: hsl(25, 36%, 79%);
    --col-sec-light: hsl(25, 36%, 70%);
    --col-sec-dark: hsl(25, 36%, 88%);
    --toc-font-family: var(--sans-font);
}
[data-theme="new"] {
    --col-prim: 
    --col-prim-light: 
    --col-prim-dark: 
    --col-sec: 
    --col-sec-light: 
    --col-sec-dark: 
}
