/**
# Theming Guide

Most of the visual attributes in the default template can be changed through
Less variables defined in this file. You can override these variables in your 
own projects by creating a [user theme][] file and redefining some or 
even all of them in that file. This way you can customize the appearance of 
your documentation making it look unique.

[user theme]: ../../src/front-matter.html#customizing-theme

## Font Settings

Having clear, legible fonts goes a long way making documentation readable and
easy for eyes. The default template ensures that fonts look consistent for all
users by downloading them from [Google Fonts][].

Customizing fonts begins with selecting three font families from three specific
categories: sans, serif, and mono. Sans font is used for titles and captions, 
serif font for main text, and mono font for code snippets. After selecting these 
in Google Fonts, copy the value of `family=` attribute in the URL provided 
and paste it as the value of the `@google-fonts` variable. Make sure that you 
include only weights and variants that are used. 

Last, you need to assign the font families to three variables defined below
according to the category.
*/
@import "./samples.css";
@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:500,700|Hanuman:400,400i|Cousine:400;700");

:root {
    --sans-font: "Nunito Sans";
    --serif-font: "Hanuman";
    --mono-font: "Cousine";
/**
Below are font samples for families used in the default template.

### Sans Font

<div class="font-sample-sans">The quick brown fox jumps over the lazy dog</div>
<div class="font-sample-sans"><b>The quick brown fox jumps over the lazy dog</b></div>

### Serif Font

<div class="font-sample-serif">The quick brown fox jumps over the lazy dog</div>
<div class="font-sample-serif"><i>The quick brown fox jumps over the lazy dog</i></div>

### Mono Font

<div class="font-sample-mono">The quick brown fox jumps over the lazy dog</div>
<div class="font-sample-mono"><b>The quick brown fox jumps over the lazy dog</b></div>

## Color Scheme

Another easy way to make your documentation look unique is to change the color
scheme. The scheme employed by the default template uses two main colors as a
basis, and calculates light and dark variants automatically. 

### prim and sec Colors

The primary color is used as a background color for page elements such as 
menus and separators. It is typically somewhat muted color that isn't too 
glaring. The sec color is used to highlight things, so it should be the 
brighter one. If the primary and sec colors are at the opposite sides of 
the [color wheel][], they usually look more pleasant to the eye.
*/
    --col-prim: hsl(49, 51%, 90%);
    --col-prim-light: hsl(49, 51%, 98%);
    --col-prim-dark: hsl(49, 51%, 81%);
    --col-sec: hsl(24, 34%, 34%);
    --col-sec-light: hsl(24, 34%, 43%);
    --col-sec-dark: hsl(24, 34%, 25%);
/**
> **About lazy evaluation of Less variables**
>
> Note that you don't need to override all of the variables above to modify
> the color scheme. Since Less uses [lazy evaluation][] to get the variable
> values, changing `@prim-color` or `@sec-color` alone will cause the
> derived colors to be changed as well.

Below are samples of the default prim and sec colors.

**Primary Colors**
<div class="color-samples">
    <div class="prim-dark">Dark</div>
    <div class="prim">Normal</div>
    <div class="prim-light">Light</div>
</div>

**Secondary Colors**
<div class="color-samples">
    <div class="sec-dark">Dark</div>
    <div class="sec">Normal</div>
    <div class="sec-light">Light</div>
</div>

### Text and Background Colors

The main part of the page contains your actual documentation, and it is colored
traditionally in black and white. However, you can tweak how black or white
by overriding the `@color-black` and `@color-white` variables. The default 
colors are pretty close to absolute black and white.

When text is rendered on top of prim or sec colors, we use either black
or white color depending on the luminance of the background color.
*/
    --col-prim-text: hsl(240, 10%, 10%);
    --col-prim-text-light: hsl(240, 10%, 18%);
    --col-prim-text-dark:  hsl(240, 10%, 2%);
    --col-sec-text: var(--col-prim);
    --col-sec-text-light: var(--col-prim-dark);
    --col-sec-text-dark: var(--col-prim-light);
/**
## Navbar Styles

The first customizable UI element is the navigation bar, or *navbar* for short.
It provides quick links to most important resources, and enables jumping to  
previous and next page in the order specified in the [TOC][]. 

### Text Transform

The transformation applied to navbar captions. Here are the
[valid options][text-transform].
*/
    --nav-text-transform: capitalize;
/**
### Padding and Margin

Horizontal and vertical padding and margin of navbar buttons are stored in 
these variables. Padding controls how much empty space is added inside buttons 
and margin outside the buttons. Note that horizontal margin is not editable. 
Horizontal layout of buttons is controlled by the `@nav-button-justify` 
variable.
*/
    --nav-horz-padding: 0.5rem;
    --nav-vert-padding: 0.5rem;
/**
### Font Size

Navbar uses the `@sans-font`. This is not changeable. Nevertheless, you can set 
the size of the font with the following variable.
*/
    --nav-font-size: 1.2rem;
/**
### Animation Speed

The speed for animations is controlled by `@nav-transition` variable.
*/
    --nav-transition: 0.3s;
/**
### Button Justification and Spacing

Buttons are laid out using a [flexbox][]. You can change how buttons are 
justified inside the flexbox by editing the `@nav-button-justify` variable. Its
valid values can be found [here][justify-content]. 

To increase or reduce space between buttons, change the `@nav-button-spacing` 
variable.
*/
    --nav-button-justify: flex-start;
    --nav-button-spacing: 1rem;
/**
### Button Radius

To get rounded corners or pill-shaped buttons change the variable below. Using
radius greater than button height will result in pill-shaped buttons.
*/
    --nav-button-radius: 100px;
/** 
### Button Colors

The colors used in the buttons are listed below. There are separate background
colors for normal and hover (`nav-hl-backgound`) state.
*/
    --nav-bg-color: var(--col-sec-light);
    --nav-text-color: var(--col-prim);
    --nav-text-hover: var(--col-prim-light);
    --nav-icon-color: var(--col-prim-dark);
/**
### Calculated Values

The total height of the navbar and the size of the hamburger icon are calculated 
automatically. The only reason for changing the following variables is if the
calculated sizes are not big enough for some reason.
*/
    --nav-text-height: calc(1.3 * var(--nav-font-size));
    --nav-height: calc(var(--nav-text-height) + (var(--nav-vert-padding) * 2));
    --hamburger-height: var(--nav-text-height);
/**
## TOC Menu Styles

The table of contents is shown in a pane that is automatically hidden if the 
screen size is not big enough to show it. When it is hidden it can be opened
using a hamburger icon.

### Animation Speed

The speed of animations can be changed with this variable.
*/
    --toc-transition: 0.3s;
/**
### Scrollbar Width

TOC menu uses a custom narrow scrollbar (works only in Chrome). You can set its
width with this variable.
*/
    --scrollbar-width: 4px;
    --scrollbar-color: var(--col-prim);
    --scrollbar-hover: var(--col-prim-dark);
/**
### Font Sizes

The sizes of the header and TOC items can be changed with following variables.
*/
    --toc-header-font-size: 1rem;
    --toc-font-size: 0.9rem;
    --toc-border-width: 2px;
/**
### Hamburger Radius

The border radius of the hamburger icon can be changed with this variable. To 
keep a consistent look we use the same radius as for the navbar buttons by 
default.
*/
    --toc-sideicon-radius: @nav-button-radius;
/**
### Colors and Transparency

The colors of the TOC menu can be changed with variables below. `@toc-fadeout` 
controls the transparancy of the backgound color.
*/
    --toc-bg-color: var(--col-prim);
    --toc-text-color: var(--col-sec);
    --toc-ruler-color: var(--col-prim-dark);
    --toc-hover-color: var(--col-sec-light);
    --toc-hover-bg: var(--col-prim-light);
    --toc-scrollbar-color: var(--col-prim-dark);
    --toc-scrollbar-hover: var(--col-sec-light);
/**
## Page Menu Styles

Page menu provides navigation menu inside the current page. It is dynamically
generated by collecting all the header tags in the page.

### Animation Speed

As for other page elements the animation speed is controlled by transition
variable.
*/
    --pm-transition: 0.3s;
/**
### Fonts

Page menu uses the `@sans-font`. You can change the font sizes with these
variables.
*/
    --pm-header-font-size: 1rem;
    --pm-font-size: 0.9rem;
/**
### Colors

The colors are defined with the following variables.
*/
    --pm-bg-color: var(--cnt-bg-color);
    --pm-text-color: var(--col-sec);  
    --pm-ruler-color: var(--col-prim-dark);
    --pm-hover-color: var(--col-sec-dark);
/**
## Content Area Styles

The content area is where your actual documentation lives. A lot of styling
are applied to it, but to keep things simple, only the most important ones are
controlled by variables. If you wish to have completely different styling for
the content area, I recommend writing a new template for that.

### Fonts

Content area uses the `@serif-font` in main text, and `@sans-font` in headers.
You can change these or font sizes with the variables below.
*/
    --cnt-font: var(--serif-font);
    --cnt-header-font: var(--sans-font);
    --cnt-font-size: 1rem;
    --cnt-mono-font-size: 0.85rem;
/**
### Colors

The `@cnt-color` is the "black" text color used and `@cnt-bg-color` is the 
background color.
*/
    --cnt-color: #333;
    --cnt-bg-color: var(--col-prim-light);
    --cnt-pre-color: var(--col-prim);
/**
## Footer Colors and Font

Footer is a simple block of text that contains copyright message. You can
change its color and font with these variables.
*/
    --ftr-color: var(--col-prim);
    --ftr-dark-color: var(--col-prim-dark);
    --ftr-bg-color: var(--col-sec);
    --ftr-font-family: var(--sans-font);
    --ftr-font-size: 1rem;
    --ftr-padding: 1rem;
    --ftr-border-color: var(--col-sec-light);
    --ftr-text-hover: var(--col-prim-light);
/**
## Tooltip Colors

Tooltips are popping up in code blocks and menus. You can change their colors
with following variables.
*/
    --tooltip-color: var(--col-sec-text);
    --tooltip-bg-color: var(--col-sec);
    --tooltip-border-color: var(--col-sec-light);
/**
## Landing Page Styles

A landing page has completely different layout than normal page. You can change
the style of few elements in the landing page.

### Background

The background of the landing page can either be a picture or solid color.
*/
    --lnd-background: var(--col-prim);
    --lnd-background-attachment: fixed;
    --lnd-background-repeat: no-repeat;
/**
### Title Text

The title font size and color can be changed with following variables.
*/
    --lnd-title-color: var(--col-prim-text);
    --lnd-title-font-size: 12vw;
    --lnd-title-font-weight: bold;
/**
### Info Boxes

The boxes that contain information about the project can by styled with 
these variables.
*/
    --lnd-info-background-color: @color-white;
    --lnd-info-text-color: @color-text;
}
/**
## Narrow Scrollbars

Add class `narrow-scrollbars` to elements which should have narrow scrollbar thumbs.
*/
.narrow-scrollbars::-webkit-scrollbar {
    background: transparent;
}
.narrow-scrollbars::-webkit-scrollbar:horizontal {
    height: var(--scrollbar-width);
}
.narrow-scrollbars::-webkit-scrollbar:vertical {
    width: var(--scrollbar-width);
}
.narrow-scrollbars::-webkit-scrollbar-thumb {
    border-radius: calc(var(--scrollbar-width) / 2);
}
.narrow-scrollbars::-webkit-scrollbar-thumb:hover {
    background-color: var(--scrollbar-hover) !important;
}
.narrow-scrollbars:hover::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-color);
}
/**
## Dividers

Use class `divider` to add a bottom border for an element.

Defined default values at the root level.
*/
:root {
    --divider-height: 4px;
    --divider-color: var(--col-sec);
}

.divider:after {
    content: '';
    display: block;
    height: 0;
    width: 100%;
    border-bottom: var(--divider-height) solid var(--divider-color);
    border-radius: calc(var(--divider-height) / 2);
}
/**
[Google Fonts]: https://fonts.google.com/
[color wheel]: https://www.sessions.edu/color-calculator/
[lazy evaluation]: http://lesscss.org/features/#variables-feature-lazy-evaluation
[TOC]: /src/toc.html
[flexbox]: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Flexible_Box_Layout/Basic_Concepts_of_Flexbox
[text-transform]: https://developer.mozilla.org/en-US/docs/Web/CSS/text-transform
[justify-content]: https://developer.mozilla.org/en-US/docs/Web/CSS/justify-content
[front matter]: /src/front-matter.html#background-image-for-landing-page
*/
    