body {
    margin: 0;
}
.layout {
    --side-width: 20%;
    --cnt-width: 75ch;
    --cnt-margin: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: calc(var(--nav-height));
    background-color: var(--cnt-bg-color);
}
.sidepane {
    --scrollbar-color: transparent;
    position: sticky;
    top: 0;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    flex-basis: var(--side-width);
}
.sidepane:first-of-type {
    background-color: var(--toc-bg-color);
    border: solid 2px var(--toc-ruler-color);
    --scrollbar-color: var(--toc-scrollbar-color);
    --scrollbar-hover: var(--toc-scrollbar-hover);
}
@media only screen and (max-width: 1199px) {
    .layout {
        --side-width: 25%;
    }
}
@media only screen and (max-width: 991px) {
    .layout {
        --side-width: 30%;
    }
}
@media only screen and (max-width: 767px) {
    .layout {
        --side-width: 45%;
    }
}
@media only screen and (max-width: 480px) {
    .layout {
        --side-width: 70%;
    }
}
.contentarea {
    width: var(--cnt-width);
    margin: var(--cnt-margin);
}