body {
    margin: 0;
}
body * {
    transition: color var(--nav-transition), 
        background-color var(--nav-transition);
}
.layout {
    --toc-width: 20%;
    --pm-width: 20%;
    --cnt-width: 75ch;
    --cnt-margin: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: calc(var(--nav-height));
    background-color: var(--cnt-bg-color);
}
.layout > div {
    flex-grow: 0;
    flex-shrink: 0;
}
.sidepane {
    --scrollbar-color: transparent;
    position: sticky;
    top: 0;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    transition: width var(--toc-transition);
}
.sidepane {
    --scrollbar-color: var(--toc-scrollbar-color);
    --scrollbar-hover: var(--toc-scrollbar-hover);
}
.sidepane:first-of-type {
    background-color: var(--toc-bg-color);
    border: solid var(--toc-border-width) var(--toc-ruler-color);
    width: var(--toc-width);
}
.sidepane:last-of-type {
    width: var(--pm-width);
}
.toc-button {
    display: none;
    height: 100%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.toc-button svg {
    stroke: var(--col-sec-light);
}
.layout.toc-open .toc-button {
    display: none;
}
.layout.toc-open .tocmenu {
    display: block;
}
@media only screen and (max-width: 1220px) {
    .layout {
        --toc-width: 24px;
        --pm-width: 25%;
    }
    .tocmenu {
        display: none;
    }
    .toc-button {
        display: flex;
    }
    .layout.toc-open {
        --toc-width: 35ch;
        --pm-width: 0px;
    }
}
@media only screen and (max-width: 1010px) {
    .layout {
        --pm-width: 0px;
    }
}
@media only screen and (max-width: 770px) {
    .layout {
        --cnt-width: 90%;
    }
}
.contentarea {
    width: var(--cnt-width);
    margin: var(--cnt-margin);
    scroll-behavior: smooth;
}